/* Fixe le footer en bas de la page même si le contenu est limité.
  En quelque sorte, il empêche le footer de remonter en haut de la page
  quand il n'y a pas suffisamment de contenu dans le corps de la page.
 */
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}
