.header{
  background-color: #E1BF95;
  background-color: #f5dec1;
  /* background-color: #DBD2C8; */
  /* background-color: #BDDBD5; */
  /* background-color: #CADBBD; */
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header-badge{
  position: absolute;
  right: -18px;
}
.header-profile{
  width: 37px;
}
.header-cursor-profile{
  cursor: pointer;
}
.header-profile-img{
  margin-top: -27px;
}
.header-menu-profile{
  position: absolute;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  width: 216px;
  right: 25px;
  top: 23px;
}
.header-form{
  flex-grow: 1;
}
.header-input-search{
  width: 100%;
  margin-top: 1rem;
  outline: 0;
}
.header-auth{
  display: flex;
  /* align-items: center; */
    /* max-width: 255px; */
    position: absolute;
    top: 53px;
    right: 2.3rem;
}
.header-menu{
  color: black;
}
.header-menu:hover{
  color: #c35941;
}
.header-bag{
  margin-top: -8px;
}
.header-profile-text{
  font-weight: 900;
}
.navbar-toggler{
  display: block;
}

@media screen and (min-width: 576px){
  .header-menu-profile{
    right: 69px;
  }
}
@media screen and (min-width:992px){
  .navbar-toggler.d-block{
      display: initial;
  }
  .header-logo-navbar{
    display: flex;
    align-items: center;
  }
  .header-input-search{
    width:50%;
    margin-top: -11px;
  }
  .header-auth{
      top: 56px;
  }
}
@media screen and (min-width:1200px){
  .navbar-brand{
    margin-right: 5.5rem;
  }
}

@media screen and (max-width:500px){
  .header-profile-text{
    display: none;
  }
}

